/*
variaveis
====================
*/
/*
bootstrap customizado
====================
*/
a {
  color: #f8cc32;
  -webkit-transition: all .3s;
          transition: all .3s;
}
a:hover,
a:focus {
  color: #efbc08;
}
.btn-default {
  background-color: #333;
  border-color: #000000;
  color: #eee;
}
.btn-default.active,
.btn-default:active,
.btn-default:hover,
.open > .dropdown-toggle.btn-default,
.btn-default.focus,
.btn-default:focus,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  background-color: #262626;
  border-color: #000000;
  color: #eee;
}
.dropdown-header {
  color: #bbb;
}
.dropdown-menu {
  background-color: #333;
}
.dropdown-menu .divider {
  background-color: #000000;
}
.dropdown-menu > li > a {
  color: #eee;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #f8cc32;
  color: #333;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #f8cc32;
  color: #333;
}
.form-control {
  background: #333;
  border-color: #000;
  color: #eee;
}
.form-control:focus {
  border-color: #f8cc32;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 204, 50, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 204, 50, 0.6);
}
.form-control:-ms-input-placeholder {
  color: #ccc;
  font-style: italic;
}
.form-control::-moz-placeholder {
  color: #ccc;
  font-style: italic;
}
.form-control::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
}
.label {
  font-weight: 400;
}
.label-default {
  background: #333;
}
.label-primary {
  background: #f8cc32;
  color: #333;
}
.list-group-item {
  background: #333;
  border-color: #000000;
}
a.list-group-item {
  color: #eee;
}
a.list-group-item:focus,
a.list-group-item:hover {
  background: #262626;
  color: #eee;
}
.nav .caret {
  border-bottom-color: #f8cc32;
  border-top-color: #f8cc32;
}
.nav a:hover .caret {
  border-bottom-color: #efbc08;
  border-top-color: #efbc08;
}
.nav-tabs {
  font-size: 14px;
  margin: 0 0 20px;
}
.navbar .container {
  max-width: 650px;
}
.navbar-default {
  background: #181818;
  border-color: #333;
}
.navbar-default .navbar-brand {
  color: #ccc;
  font-weight: 700;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #333;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-text {
  color: #ccc;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: #f8cc32;
  color: #333;
}
.navbar-default .navbar-toggle {
  border-color: #333;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #333;
}
.navbar-toggle {
  padding: 2px 10px;
}
.navbar-toggle:before {
  content: "☰";
  padding-right: 4px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-color: rgba(0, 0, 0, 0.7);
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.5);
}
.well {
  background-color: transparent;
  border: 2px solid #333;
}
/*
base
====================
*/
body {
  background: #000;
  color: #eee;
  font-size: 16px;
  line-height: 1.5;
}
body > .container {
  background: #181818;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 50px;
  max-width: 450px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.fifa-text {
  color: #fff;
}
.fifa-year {
  color: #f8cc32;
}
.list-group--home {
  font-size: 18px;
}
.list-group-item .glyphicon {
  float: right;
}
.videogames {
  margin: 0 0 20px;
}
.link-share {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.link-share:hover,
.link-share:focus {
  color: #fff;
  text-decoration: none;
}
.link-share--facebook {
  background: #3b5998;
}
.link-share--facebook:hover,
.link-share--facebook:focus {
  background: #2d4373;
}
.link-share--googleplus {
  background: #cd3726;
}
.link-share--googleplus:hover,
.link-share--googleplus:focus {
  background: #a22b1e;
}
.link-share--twitter {
  background: #2298f0;
}
.link-share--twitter:hover,
.link-share--twitter:focus {
  background: #0e7ed1;
}
.well__name,
.well__command {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.well__name i {
  display: block;
}
.well__command {
  text-align: right;
}
.publicidade {
  margin: 0 -15px;
  text-align: center;
}
.adsbygoogle {
  background-color: rgba(0, 0, 0, 0.5);
}
.copy {
  border-top: 1px solid #ccc;
  font-size: 12px;
  margin: 20px 0 0;
  padding: 5px 0;
  text-align: center;
}
.bg {
  background: url("../img/bg.jpg") no-repeat center bottom;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100%;
  left: 0;
  min-height: 800px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
/*
botoes do controle
====================
*/
.btn-a,
.btn-b,
.btn-x,
.btn-y,
.btn-lb,
.btn-lt,
.btn-rb,
.btn-rt {
  background: #333;
  border: 2px solid #eee;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #eee;
  display: inline-block;
  font-style: normal;
  height: 28px;
  text-align: center;
  width: 28px;
}
.btn-lb,
.btn-lt,
.btn-rb,
.btn-rt {
  width: 38px;
}
.btn-lb,
.btn-lt {
  -webkit-border-radius: 50% 0 0 0;
          border-radius: 50% 0 0 0;
}
.btn-rb,
.btn-rt {
  -webkit-border-radius: 0 50% 0 0;
          border-radius: 0 50% 0 0;
}
.btn-a:after {
  content: "A";
}
.ps .btn-a:after {
  content: "X";
}
.btn-b:after {
  content: "B";
}
.ps .btn-b:after {
  content: "◯";
}
.btn-x:after {
  content: "X";
}
.ps .btn-x:after {
  content: "◻";
}
.btn-y:after {
  content: "Y";
}
.ps .btn-y:after {
  content: "△";
}
.btn-lb:after {
  content: "LB";
}
.ps .btn-lb:after {
  content: "L1";
}
.btn-lt:after {
  content: "LT";
}
.ps .btn-lt:after {
  content: "L2";
}
.btn-rb:after {
  content: "RB";
}
.ps .btn-rb:after {
  content: "R1";
}
.btn-rt:after {
  content: "RT";
}
.ps .btn-rt:after {
  content: "R2";
}
