//-var ob = JSON.parse(json)
//- verificar i cant hear you
- var celebrations = []
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'One arm raised', 'pt': 'Um braço levantado'}, 'command': 'segure <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Thumb suck', 'pt': 'Chupar dedão'}, 'command': 'segure <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Ear twist', 'pt': 'Parafusar orelha'}, 'command': 'segure <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Finger points', 'pt': 'Apontar com os dedos'}, 'command': 'toque <i class="btn-b"></i> e segure <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Arms out', 'pt': 'Braços abertos'}, 'command': 'toque <i class="btn-x"></i> e segure <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Wrist flick', 'pt': 'Balançar as mãos'}, 'command': 'toque <i class="btn-y"></i> e segure <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Aeroplane', 'pt': 'Avião'}, 'command': 'segure RS'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Point to sky', 'pt': 'Apontar para o céu'}, 'command': 'segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Shhhhhh!', 'pt': 'Quietinhos!'}, 'command': 'segure RS →'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Telephone', 'pt': 'Telefone'}, 'command': 'segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Can you hear me?', 'pt': 'Consegue me ouvir?'}, 'command': 'segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Hands out', 'pt': 'Mãos estendidas'}, 'command': 'toque RS → e segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Come on!', 'pt': 'Vamos!'}, 'command': 'toque RS ← e segure RS →'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Blow kisses', 'pt': 'Beijinhos'}, 'command': 'toque RS ↓ e segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Double arm swing', 'pt': 'Girar os dois braços'}, 'command': 'toque RS ↑ e segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Flying bird', 'pt': 'Pássaro voando'}, 'command': 'toque RS → e segure RS →'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Hand on head', 'pt': 'Mão na cabeça'}, 'command': 'toque RS ← e segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Heart symbol', 'pt': 'Coração com as mãos'}, 'command': 'toque RS ↓ e segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Arms pointing up', 'pt': 'Braços para cima'}, 'command': 'toque RS ↑ e segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'name': {'en': 'Windmill', 'pt': 'Moinho de vento'}, 'command': 'RS ↻'})
- celebrations.push({'new': 1, 'type': 'Finalização', 'name': {'en': 'Flag slap', 'pt': 'Tapa na bandeira'}, 'command': 'segure <i class="btn-lt"></i> toque RS ↑ ↑'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'The business', 'pt': 'Executivo'}, 'command': 'segure <i class="btn-lb"></i> toque RS ↓ ↓'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Riding the wave', 'pt': 'Surfando a onda'}, 'command': 'segure <i class="btn-lb"></i> aperte <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Belly flop', 'pt': 'Mergulho de barriga'}, 'command': 'segure <i class="btn-lb"></i> aperte <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Point to the sky', 'pt': 'Apontar para o céu'}, 'command': 'segure <i class="btn-lb"></i> aperte <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Show respect', 'pt': 'Respeito é bom'}, 'command': 'segure <i class="btn-lb"></i> toque 2x <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Standing archer', 'pt': 'Arqueiro de pé'}, 'command': 'segure <i class="btn-lb"></i> segure RS →'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Punch & dodge', 'pt': 'Socos e esquiva'}, 'command': 'segure <i class="btn-lb"></i> segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Chest slide', 'pt': 'Deslizar com o peito'}, 'command': 'segure <i class="btn-lb"></i> toque RS ↓ ↑'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Head shake', 'pt': 'Discordar com a cabeça'}, 'command': 'segure <i class="btn-lb"></i> toque RS ← →'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Signature finishing move', 'pt': 'Movimento final'}, 'command': 'aperte <i class="btn-a"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Back flip (agile players) or Arms to crowd', 'pt': 'Mortal p/ trás (jogador ágil) ou Para a galera'}, 'command': 'segure <i class="btn-lb"></i> toque RS ↑ ↑'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Hand spring (agile players) or Roll & punch', 'pt': 'Cambalhota com a mão (jogador ágil) ou Rolada e soco'}, 'command': 'segure <i class="btn-lb"></i> RS ↻'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Double back flip (agile players) and roll', 'pt': 'Mortal duplo (jogador ágil) e cambalhota'}, 'command': 'segure <i class="btn-lb"></i> RS ↺'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Shoe shine', 'pt': 'Engraxate'}, 'command': 'segure <i class="btn-lt"></i> aperte <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Violinist', 'pt': 'Violino'}, 'command': 'segure <i class="btn-lt"></i> aperte <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Spanish archer', 'pt': 'Arqueiro espanhol'}, 'command': 'segure <i class="btn-lt"></i> aperte <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Hands on ears', 'pt': 'Mãos nas orelhas'}, 'command': 'segure <i class="btn-lt"></i> toque 2x <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Heel taps', 'pt': 'Bater calcanhares'}, 'command': 'segure <i class="btn-lt"></i> toque 2x <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Knee slide arms out', 'pt': 'Deslizar de joelhos de braços abertos'}, 'command': 'segure <i class="btn-lt"></i> segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'I can\'t hear you', 'pt': 'Não estou escutando'}, 'command': 'segure <i class="btn-lt"></i> segure RS →'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Side slide', 'pt': 'Deslizar de lado'}, 'command': 'segure <i class="btn-lt"></i> segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Brick fall', 'pt': 'Queda inconsciente'}, 'command': 'segure <i class="btn-lt"></i> segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Knee slide', 'pt': 'Deslizar de joelhos'}, 'command': 'segure <i class="btn-lt"></i> toque RS ↑ ↓'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Samba dance', 'pt': 'Sambadinha'}, 'command': 'segure <i class="btn-lt"></i> toque RS ← →'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Who am I', 'pt': 'Quem sou eu?'}, 'command': 'segure <i class="btn-lt"></i> toque RS → ←'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Knee slide to sit', 'pt': 'Deslizar de joelho e indiozinho'}, 'command': 'segure <i class="btn-lt"></i> toque RS ↓ ↓'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Bird walk', 'pt': 'Passo do passarinho'}, 'command': 'segure <i class="btn-lt"></i> toque RS ← ←'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Flip (agile player) or Cartwheel', 'pt': 'Mortal (jogador ágil) ou estrela'}, 'command': 'segure <i class="btn-lt"></i> RS ↻'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Twist flip (agile player) or Cartwheel roll', 'pt': 'Mortal com giro (jogador ágil) ou estrela e rolar'}, 'command': 'segure <i class="btn-lt"></i> RS ↺'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'If I catch you', 'pt': 'Ai, se eu te pego'}, 'command': 'segure <i class="btn-rt"></i> aperte RS'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Why always me', 'pt': 'Por que sempre eu?'}, 'command': 'segure <i class="btn-rb"></i> toque 2x <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Kiss the pitch', 'pt': 'Beijo no gramado'}, 'command': 'segure <i class="btn-rt"></i> toque 2x <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'The salute', 'pt': 'Saudação'}, 'command': 'segure <i class="btn-rb"></i> aperte <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Water hose', 'pt': 'Mangueira'}, 'command': 'segure <i class="btn-rt"></i> toque RS ↓ ↓'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Peacock', 'pt': 'Pavão'}, 'command': 'segure <i class="btn-rb"></i> toque 2x <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Telling off', 'pt': 'Reprimenda'}, 'command': 'segure <i class="btn-rt"></i> aperte <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'name': {'en': 'Moonwalk', 'pt': 'Moonwalk'}, 'command': 'segure <i class="btn-rb"></i> toque RS ← ←'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Many bows', 'pt': 'Muitas reverências'}, 'command': 'segure <i class="btn-rt"></i> segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Pardon', 'pt': 'Perdão'}, 'command': 'segure <i class="btn-rt"></i> segure RS →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Fall to knees and beg', 'pt': 'De joelhos e implorando'}, 'command': 'segure <i class="btn-rt"></i> segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Backflips', 'pt': 'Mortal p/ trás'}, 'command': 'segure <i class="btn-rt"></i> toque 2x <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Slide on back', 'pt': 'Deslizar de costas'}, 'command': 'segure <i class="btn-rb"></i> toque 2x <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Cockroach', 'pt': 'Barata'}, 'command': 'segure <i class="btn-rb"></i> aperte RS'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'River dance', 'pt': 'Dança irlandesa'}, 'command': 'segure <i class="btn-rb"></i> toque RS ↑ ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Break dance', 'pt': 'Break dance'}, 'command': 'segure <i class="btn-rb"></i> toque RS → →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Praise on knees', 'pt': 'Louvor de joelhos'}, 'command': 'segure <i class="btn-rt"></i> segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Backwards worm', 'pt': 'Rastejar p/ trás'}, 'command': 'segure <i class="btn-rb"></i> RS ↺'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Uncontrolled backflip', 'pt': 'Mortal p/ trás descontrolado'}, 'command': 'segure <i class="btn-rt"></i> RS ↻'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Handstand', 'pt': 'Parada de mãos'}, 'command': 'segure <i class="btn-rt"></i> RS ↺'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Spin & fall', 'pt': 'Girar e cair'}, 'command': 'segure <i class="btn-rt"></i> toque RS ↑ ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Rowing on knees', 'pt': 'Remando de joelhos'}, 'command': 'segure <i class="btn-rt"></i> toque RS ← ←'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Seated rowing', 'pt': 'Remando sentado'}, 'command': 'segure <i class="btn-rt"></i> toque RS → →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Knee walk', 'pt': 'Andar de joelhos'}, 'command': 'segure <i class="btn-rt"></i> aperte <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Cradle swing', 'pt': 'Balançar o berço'}, 'command': 'segure <i class="btn-rt"></i> aperte <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Baby', 'pt': 'Bebê'}, 'command': 'segure <i class="btn-rt"></i> toque 2x <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Flying dive', 'pt': 'Salto voador'}, 'command': 'segure <i class="btn-rb"></i> segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Karate kicks', 'pt': 'Chutes de caratê'}, 'command': 'segure <i class="btn-rb"></i> segure RS →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Jump kicks', 'pt': 'Chutes no ar'}, 'command': 'segure <i class="btn-rb"></i> segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Ice skating', 'pt': 'Patinação no gelo'}, 'command': 'segure <i class="btn-rb"></i> toque RS ↓ ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Golf swing', 'pt': 'Tacada de golfe'}, 'command': 'segure <i class="btn-rb"></i> toque RS ← →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Dance 1', 'pt': 'Dança 1'}, 'command': 'segure <i class="btn-rt"></i> toque RS ↓ ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Dance 2', 'pt': 'Dança 2'}, 'command': 'segure <i class="btn-rt"></i> toque RS ↑ ↓'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Dance 3', 'pt': 'Dança 3'}, 'command': 'segure <i class="btn-rt"></i> toque RS ← →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'name': {'en': 'Dance 4', 'pt': 'Dança 4'}, 'command': 'segure <i class="btn-rt"></i> toque RS → ←'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'name': {'en': 'Flag kick', 'pt': 'Chute na bandeira'}, 'command': 'segure <i class="btn-lb"></i> toque 2x <i class="btn-x"></i>'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'name': {'en': 'Right here right now', 'pt': 'Aqui e agora'}, 'command': 'segure <i class="btn-rb"></i> aperte <i class="btn-b"></i>'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'name': {'en': 'Hand bite', 'pt': 'Mordida na mão'}, 'command': 'segure <i class="btn-lt"></i> toque RS ↓ ↑'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'name': {'en': 'Stand tall', 'pt': 'Parada'}, 'command': 'segure <i class="btn-rb"></i> segure RS ←'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'name': {'en': 'Kiss the wrist', 'pt': 'Beijo no pulso'}, 'command': 'segure <i class="btn-lt"></i> toque 2x <i class="btn-b"></i>'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'name': {'en': 'Old man', 'pt': 'Homem velho'}, 'command': 'segure <i class="btn-lt"></i> aperte RS'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'Calm down', 'pt': 'Calma aí'}, 'command': 'segure <i class="btn-lb"></i> toque 2x <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'The Bear', 'pt': 'O urso'}, 'command': 'segure <i class="btn-lb"></i> segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'Riding the cat', 'pt': 'O gato'}, 'command': 'segure <i class="btn-lb"></i> segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'Chicken dance', 'pt': 'Dança da galinha'}, 'command': 'segure <i class="btn-lb"></i> toque RS ↑ ↓'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'Muevelo', 'pt': 'Muévelo'}, 'command': 'segure <i class="btn-lb"></i> toque RS → ←'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'Patty cake', 'pt': 'Adoletá'}, 'command': 'segure <i class="btn-lb"></i> toque RS → →'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'Muscle flex', 'pt': 'Musculoso'}, 'command': 'segure <i class="btn-rb"></i> toque RS ↑ ↓'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'Push ups', 'pt': 'Flexões'}, 'command': 'segure <i class="btn-rb"></i> toque RS → ←'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'The worm', 'pt': 'Verme'}, 'command': 'segure <i class="btn-rb"></i> RS ↻'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'Dance', 'pt': 'Dança'}, 'command': 'segure <i class="btn-rb"></i> toque RS ↓ ↓'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'Prancing bird', 'pt': 'Pássaro com pompa'}, 'command': 'segure <i class="btn-rb"></i> aperte <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'name': {'en': 'Gallop dance', 'pt': 'Dança do galope'}, 'command': 'segure <i class="btn-lb"></i> aperte RS'})
