- var celebrations = []
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'One arm raised', 'namePt': 'Um braço levantado', 'command': 'segure <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Thumb suck', 'namePt': 'Chupar dedão', 'command': 'segure <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Ear twist', 'namePt': 'Parafusar orelha', 'command': 'segure <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Finger points', 'namePt': 'Apontar com os dedos', 'command': 'toque <i class="btn-b"></i> e segure <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Arms out', 'namePt': 'Braços abertos', 'command': 'toque <i class="btn-x"></i> e segure <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Wrist flick', 'namePt': 'Balançar as mãos', 'command': 'toque <i class="btn-y"></i> e segure <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Aeroplane', 'namePt': 'Avião', 'command': 'segure RS'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Point to sky', 'namePt': 'Apontar para o céu', 'command': 'segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Shhhhhh!', 'namePt': 'Quietinhos!', 'command': 'segure RS →'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Telephone', 'namePt': 'Telefone', 'command': 'segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Can you hear me?', 'namePt': 'Consegue me ouvir?', 'command': 'segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Hands out', 'namePt': 'Mãos estendidas', 'command': 'toque RS → e segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Come on!', 'namePt': 'Vamos!', 'command': 'toque RS ← e segure RS →'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Blow kisses', 'namePt': 'Beijinhos', 'command': 'toque RS ↓ e segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Double arm swing', 'namePt': 'Girar os dois braços', 'command': 'toque RS ↑ e segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Flying bird', 'namePt': 'Pássaro voando', 'command': 'toque RS → e segure RS →'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Hand on head', 'namePt': 'Mão na cabeça', 'command': 'toque RS ← e segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Heart symbol', 'namePt': 'Coração com as mãos', 'command': 'toque RS ↓ e segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Arms pointing up', 'namePt': 'Braços para cima', 'command': 'toque RS ↑ e segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Corrida', 'nameEn': 'Windmill', 'namePt': 'Moinho de vento', 'command': 'RS ↻'})
- celebrations.push({'new': 1, 'type': 'Finalização', 'nameEn': 'Flag slap', 'namePt': 'Tapa na bandeira', 'command': 'segure <i class="btn-lt"></i> toque RS ↑ ↑'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'The business', 'namePt': 'Executivo', 'command': 'segure <i class="btn-lb"></i> toque RS ↓ ↓'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Riding the wave', 'namePt': 'Surfando a onda', 'command': 'segure <i class="btn-lb"></i> aperte <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Belly flop', 'namePt': 'Mergulho de barriga', 'command': 'segure <i class="btn-lb"></i> aperte <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Point to the sky', 'namePt': 'Apontar para o céu', 'command': 'segure <i class="btn-lb"></i> aperte <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Show respect', 'namePt': 'Respeito é bom', 'command': 'segure <i class="btn-lb"></i> toque 2x <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Standing archer', 'namePt': 'Arqueiro de pé', 'command': 'segure <i class="btn-lb"></i> segure RS →'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Punch & dodge', 'namePt': 'Socos e esquiva', 'command': 'segure <i class="btn-lb"></i> segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Chest slide', 'namePt': 'Deslizar com o peito', 'command': 'segure <i class="btn-lb"></i> toque RS ↓ ↑'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Head shake', 'namePt': 'Discordar com a cabeça', 'command': 'segure <i class="btn-lb"></i> toque RS ← →'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Signature finishing move', 'namePt': 'Movimento final', 'command': 'aperte <i class="btn-a"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Back flip (agile players) or Arms to crowd', 'namePt': 'Mortal p/ trás (jogador ágil) ou Para a galera', 'command': 'segure <i class="btn-lb"></i> toque RS ↑ ↑'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Hand spring (agile players) or Roll & punch', 'namePt': 'Cambalhota com a mão (jogador ágil) ou Rolada e soco', 'command': 'segure <i class="btn-lb"></i> RS ↻'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Double back flip (agile players) and roll', 'namePt': 'Mortal duplo (jogador ágil) e cambalhota', 'command': 'segure <i class="btn-lb"></i> RS ↺'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Shoe shine', 'namePt': 'Engraxate', 'command': 'segure <i class="btn-lt"></i> aperte <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Violinist', 'namePt': 'Violino', 'command': 'segure <i class="btn-lt"></i> aperte <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Spanish archer', 'namePt': 'Arqueiro espanhol', 'command': 'segure <i class="btn-lt"></i> aperte <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Hands on ears', 'namePt': 'Mãos nas orelhas', 'command': 'segure <i class="btn-lt"></i> toque 2x <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Heel taps', 'namePt': 'Bater calcanhares', 'command': 'segure <i class="btn-lt"></i> toque 2x <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Knee slide arms out', 'namePt': 'Deslizar de joelhos de braços abertos', 'command': 'segure <i class="btn-lt"></i> segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'I can\'t hear you', 'namePt': 'Não estou escutando', 'command': 'segure <i class="btn-lt"></i> segure RS →'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Side slide', 'namePt': 'Deslizar de lado', 'command': 'segure <i class="btn-lt"></i> segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Brick fall', 'namePt': 'Queda inconsciente', 'command': 'segure <i class="btn-lt"></i> segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Knee slide', 'namePt': 'Deslizar de joelhos', 'command': 'segure <i class="btn-lt"></i> toque RS ↑ ↓'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Samba dance', 'namePt': 'Sambadinha', 'command': 'segure <i class="btn-lt"></i> toque RS ← →'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Who am I', 'namePt': 'Quem sou eu?', 'command': 'segure <i class="btn-lt"></i> toque RS → ←'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Knee slide to sit', 'namePt': 'Deslizar de joelho e indiozinho', 'command': 'segure <i class="btn-lt"></i> toque RS ↓ ↓'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Bird walk', 'namePt': 'Passo do passarinho', 'command': 'segure <i class="btn-lt"></i> toque RS ← ←'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Flip (agile player) or Cartwheel', 'namePt': 'Mortal (jogador ágil) ou estrela', 'command': 'segure <i class="btn-lt"></i> RS ↻'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Twist flip (agile player) or Cartwheel roll', 'namePt': 'Mortal com giro (jogador ágil) ou estrela e rolar', 'command': 'segure <i class="btn-lt"></i> RS ↺'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'If I catch you', 'namePt': 'Ai, se eu te pego', 'command': 'segure <i class="btn-rt"></i> aperte RS'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Why always me', 'namePt': 'Por que sempre eu?', 'command': 'segure <i class="btn-rb"></i> toque 2x <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Kiss the pitch', 'namePt': 'Beijo no gramado', 'command': 'segure <i class="btn-rt"></i> toque 2x <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'The salute', 'namePt': 'Saudação', 'command': 'segure <i class="btn-rb"></i> aperte <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Water hose', 'namePt': 'Mangueira', 'command': 'segure <i class="btn-rt"></i> toque RS ↓ ↓'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Peacock', 'namePt': 'Pavão', 'command': 'segure <i class="btn-rb"></i> toque 2x <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Telling off', 'namePt': 'Reprimenda', 'command': 'segure <i class="btn-rt"></i> aperte <i class="btn-b"></i>'})
- celebrations.push({'new': 0, 'type': 'Finalização', 'nameEn': 'Moonwalk', 'namePt': 'Moonwalk', 'command': 'segure <i class="btn-rb"></i> toque RS ← ←'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Many bows', 'namePt': 'Muitas reverências', 'command': 'segure <i class="btn-rt"></i> segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Pardon', 'namePt': 'Perdão', 'command': 'segure <i class="btn-rt"></i> segure RS →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Fall to knees and beg', 'namePt': 'De joelhos e implorando', 'command': 'segure <i class="btn-rt"></i> segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Backflips', 'namePt': 'Mortal p/ trás', 'command': 'segure <i class="btn-rt"></i> toque 2x <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Slide on back', 'namePt': 'Deslizar de costas', 'command': 'segure <i class="btn-rb"></i> toque 2x <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Cockroach', 'namePt': 'Barata', 'command': 'segure <i class="btn-rb"></i> aperte RS'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'River dance', 'namePt': 'Dança irlandesa', 'command': 'segure <i class="btn-rb"></i> toque RS ↑ ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Break dance', 'namePt': 'Break dance', 'command': 'segure <i class="btn-rb"></i> toque RS → →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Praise on knees', 'namePt': 'Louvor de joelhos', 'command': 'segure <i class="btn-rt"></i> segure RS ←'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Backwards worm', 'namePt': 'Rastejar p/ trás', 'command': 'segure <i class="btn-rb"></i> RS ↺'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Uncontrolled backflip', 'namePt': 'Mortal p/ trás descontrolado', 'command': 'segure <i class="btn-rt"></i> RS ↻'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Handstand', 'namePt': 'Parada de mãos', 'command': 'segure <i class="btn-rt"></i> RS ↺'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Spin & fall', 'namePt': 'Girar e cair', 'command': 'segure <i class="btn-rt"></i> toque RS ↑ ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Rowing on knees', 'namePt': 'Remando de joelhos', 'command': 'segure <i class="btn-rt"></i> toque RS ← ←'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Seated rowing', 'namePt': 'Remando sentado', 'command': 'segure <i class="btn-rt"></i> toque RS → →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Knee walk', 'namePt': 'Andar de joelhos', 'command': 'segure <i class="btn-rt"></i> aperte <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Cradle swing', 'namePt': 'Balançar o berço', 'command': 'segure <i class="btn-rt"></i> aperte <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Baby', 'namePt': 'Bebê', 'command': 'segure <i class="btn-rt"></i> toque 2x <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Flying dive', 'namePt': 'Salto voador', 'command': 'segure <i class="btn-rb"></i> segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Karate kicks', 'namePt': 'Chutes de caratê', 'command': 'segure <i class="btn-rb"></i> segure RS →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Jump kicks', 'namePt': 'Chutes no ar', 'command': 'segure <i class="btn-rb"></i> segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Ice skating', 'namePt': 'Patinação no gelo', 'command': 'segure <i class="btn-rb"></i> toque RS ↓ ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Golf swing', 'namePt': 'Tacada de golfe', 'command': 'segure <i class="btn-rb"></i> toque RS ← →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Dance 1', 'namePt': 'Dança 1', 'command': 'segure <i class="btn-rt"></i> toque RS ↓ ↑'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Dance 2', 'namePt': 'Dança 2', 'command': 'segure <i class="btn-rt"></i> toque RS ↑ ↓'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Dance 3', 'namePt': 'Dança 3', 'command': 'segure <i class="btn-rt"></i> toque RS ← →'})
- celebrations.push({'new': 0, 'type': 'Pro', 'nameEn': 'Dance 4', 'namePt': 'Dança 4', 'command': 'segure <i class="btn-rt"></i> toque RS → ←'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'nameEn': 'Flag kick', 'namePt': 'Chute na bandeira', 'command': 'segure <i class="btn-lb"></i> toque 2x <i class="btn-x"></i>'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'nameEn': 'Right here right now', 'namePt': 'Aqui e agora', 'command': 'segure <i class="btn-rb"></i> aperte <i class="btn-b"></i>'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'nameEn': 'Hand bite', 'namePt': 'Mordida na mão', 'command': 'segure <i class="btn-lt"></i> toque RS ↓ ↑'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'nameEn': 'Stand tall', 'namePt': 'Parada', 'command': 'segure <i class="btn-rb"></i> segure RS ←'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'nameEn': 'Kiss the wrist', 'namePt': 'Beijo no pulso', 'command': 'segure <i class="btn-lt"></i> toque 2x <i class="btn-b"></i>'})
- celebrations.push({'new': 1, 'type': 'EASFC', 'nameEn': 'Old man', 'namePt': 'Homem velho', 'command': 'segure <i class="btn-lt"></i> aperte RS'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'Calm down', 'namePt': 'Calma aí', 'command': 'segure <i class="btn-lb"></i> toque 2x <i class="btn-y"></i>'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'The Bear', 'namePt': 'O urso', 'command': 'segure <i class="btn-lb"></i> segure RS ↑'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'Riding the cat', 'namePt': 'O gato', 'command': 'segure <i class="btn-lb"></i> segure RS ↓'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'Chicken dance', 'namePt': 'Dança da galinha', 'command': 'segure <i class="btn-lb"></i> toque RS ↑ ↓'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'Muevelo', 'namePt': 'Muévelo', 'command': 'segure <i class="btn-lb"></i> toque RS → ←'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'Patty cake', 'namePt': 'Adoletá', 'command': 'segure <i class="btn-lb"></i> toque RS → →'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'Muscle flex', 'namePt': 'Musculoso', 'command': 'segure <i class="btn-rb"></i> toque RS ↑ ↓'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'Push ups', 'namePt': 'Flexões', 'command': 'segure <i class="btn-rb"></i> toque RS → ←'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'The worm', 'namePt': 'Verme', 'command': 'segure <i class="btn-rb"></i> RS ↻'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'Dance', 'namePt': 'Dança', 'command': 'segure <i class="btn-rb"></i> toque RS ↓ ↓'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'Prancing bird', 'namePt': 'Pássaro com pompa', 'command': 'segure <i class="btn-rb"></i> aperte <i class="btn-x"></i>'})
- celebrations.push({'new': 0, 'type': 'EASFC', 'nameEn': 'Gallop dance', 'namePt': 'Dança do galope', 'command': 'segure <i class="btn-lb"></i> aperte RS'})
