- var skills = []
- skills.push({'new': 0, 'stars': 1, 'name': {'en': 'Ball Juggle', 'pt': 'Embaixadinhas'}, 'command': 'parado,<br>segure <i class="btn-lt"><\/i> + toque <i class="btn-rb"><\/i>'})
- skills.push({'new': 1, 'stars': 1, 'name': {'en': 'Foot fake', 'pt': 'Fingir toque'}, 'command': 'parado,<br>segure <i class="btn-lb"><\/i>'})
- skills.push({'new': 0, 'stars': 2, 'name': {'en': 'Body feint right', 'pt': 'Finta de corpo p/ direita'}, 'command': 'RS toque →'})
- skills.push({'new': 0, 'stars': 2, 'name': {'en': 'Body feint left', 'pt': 'Finta de corpo p/ esquerda'}, 'command': 'RS toque ←'})
- skills.push({'new': 0, 'stars': 2, 'name': {'en': 'Stepover right', 'pt': 'Pedalada p/ direita'}, 'command': 'RS ↑ ↗ →'})
- skills.push({'new': 0, 'stars': 2, 'name': {'en': 'Stepover left', 'pt': 'Pedalada p/ esquerda'}, 'command': 'RS ↑ ↖ ←'})
- skills.push({'new': 0, 'stars': 2, 'name': {'en': 'Reverse stepover right', 'pt': 'Pedalada invertida p/ direita'}, 'command': 'RS → ↗ ↑'})
- skills.push({'new': 0, 'stars': 2, 'name': {'en': 'Reverse stepover left', 'pt': 'Pedalada invertida p/ esquerda'}, 'command': 'RS ← ↖ ↑'})
- skills.push({'new': 0, 'stars': 2, 'name': {'en': 'Ball roll left', 'pt': 'Rolada p/ esquerda'}, 'command': 'RS segure ←'})
- skills.push({'new': 0, 'stars': 2, 'name': {'en': 'Ball roll right', 'pt': 'Rolada p/ direita'}, 'command': 'RS segure →'})
- skills.push({'new': 0, 'stars': 2, 'name': {'en': 'Drag back', 'pt': 'Puxada de bola'}, 'command': 'parado,<br><i class="btn-rb"></i> + LS toque ↓'})
- skills.push({'new': 0, 'stars': 3, 'name': {'en': 'Heel flick', 'pt': 'Toque de calcanhar'}, 'command': 'RS toque ↑ ↓'})
- skills.push({'new': 0, 'stars': 3, 'name': {'en': 'Flick up', 'pt': 'Toque para cima'}, 'command': 'RS toque ↑ ↑ ↑'})
- skills.push({'new': 0, 'stars': 3, 'name': {'en': 'Roulette right', 'pt': 'Giro p/ direita'}, 'command': 'RS ↓ ↙ ← ↖ ↑ ↗ →'})
- skills.push({'new': 0, 'stars': 3, 'name': {'en': 'Roulette left', 'pt': 'Giro p/ esquerda'}, 'command': 'RS ↓ ↘ → ↗ ↑ ↖ ←'})
- skills.push({'new': 0, 'stars': 3, 'name': {'en': 'Fake left & go right', 'pt': 'Fingir p/ esquerda e sair p/ direita'}, 'command': 'RS ← ↙ ↓ ↘ →'})
- skills.push({'new': 0, 'stars': 3, 'name': {'en': 'Fake right & go left', 'pt': 'Fingir p/ direita e sair p/ esquerda'}, 'command': 'RS → ↘ ↓ ↙ ←'})
- skills.push({'new': 0, 'stars': 4, 'name': {'en': 'Ball hop', 'pt': 'Quique da bola'}, 'command': 'parado,<br>toque RS'})
- skills.push({'new': 0, 'stars': 4, 'name': {'en': 'Heel to heel flick', 'pt': 'Drible com calcanhares'}, 'command': 'RS toque ↑ ↓'})
- skills.push({'new': 0, 'stars': 4, 'name': {'en': 'Simple rainbow', 'pt': 'Carretilha simples'}, 'command': 'RS toque ↓ ↑ ↑'})
- skills.push({'new': 0, 'stars': 4, 'name': {'en': 'Advanced rainbow', 'pt': 'Carretilha avançada'}, 'command': 'RS toque ↓ segure ↑ toque ↑'})
- skills.push({'new': 0, 'stars': 4, 'name': {'en': 'Feint left & exit right', 'pt': 'Fintar p/ esquerda e sair p/ direita'}, 'command': 'RS ← ↙ ↓ ↘ →'})
- skills.push({'new': 0, 'stars': 4, 'name': {'en': 'Feint right & exit left', 'pt': 'Fintar p/ direita e sair p/ esquerda'}, 'command': 'RS → ↘ ↓ ↙ ←'})
- skills.push({'new': 2, 'stars': 4, 'name': {'en': 'Spin left', 'pt': 'Giro p/ esquerda'}, 'command': 'RS ↙ ↙'})
- skills.push({'new': 2, 'stars': 4, 'name': {'en': 'Spin right', 'pt': 'Giro p/ direita'}, 'command': 'RS ↘ ↘'})
- skills.push({'new': 2, 'stars': 4, 'name': {'en': 'Stop and turn left', 'pt': 'Parada com giro p/ esquerda'}, 'command': 'correndo,<br>RS toque ↑ toque ←'})
- skills.push({'new': 2, 'stars': 4, 'name': {'en': 'Stop and turn right', 'pt': 'Parada com giro p/ direita'}, 'command': 'correndo,<br>RS toque ↑ toque →'})
- skills.push({'new': 2, 'stars': 4, 'name': {'en': 'Ball roll cut right', 'pt': 'Rolada com corte p/ direita'}, 'command': 'segure RS ← segure LS →'})
- skills.push({'new': 2, 'stars': 4, 'name': {'en': 'Ball roll cut left', 'pt': 'Rolada com corte p/ esquerda'}, 'command': 'segure RS → segure LS ←'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Elastico', 'pt': 'Elástico'}, 'command': 'RS → ↘ ↓ ↙ ←'})
- skills.push({'new': 1, 'stars': 5, 'name': {'en': 'Reverse elastico', 'pt': 'Elástico invertido'}, 'command': 'RS ← ↙ ↓ ↘ →'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Quick ball rolls', 'pt': 'Roladas rápidas'}, 'command': 'segure RS ↓'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Hocus pocus', 'pt': 'Abracadabra'}, 'command': 'RS ↓ ↙ ← ↙ ↓ ↘ →'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Triple elastico', 'pt': 'Elástico triplo'}, 'command': 'RS ↓ ↘ → ↘ ↓ ↙ ←'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Ball roll and flick left', 'pt': 'Rolada com toque p/ esquerda'}, 'command': 'correndo,<br>RS segure → toque ↑'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Ball roll and flick right', 'pt': 'Rolada com toque p/ direita'}, 'command': 'correndo,<br>RS segure ← toque ↑'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Sombrero flick', 'pt': 'Chapéu'}, 'command': 'parado,<br>RS toque ↑ ↑ ↓'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Turn & spin left', 'pt': 'Volta e giro p/ esquerda'}, 'command': 'RS toque ↑ toque ←'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Turn & spin right', 'pt': 'Volta e giro p/ direita'}, 'command': 'RS toque ↑ toque →'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Ball roll fake left', 'pt': 'Fingir rolada p/ esquerda'}, 'command': 'parado,<br>RS segure ← e RS toque →'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Ball roll fake right', 'pt': 'Fingir rolada p/ direita'}, 'command': 'parado,<br>RS segure → e RS toque ←'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Rabona fake', 'pt': 'Fingir toque de letra'}, 'command': 'andando,<br>segure <i class="btn-lt"></i> + <i class="btn-x"></i> ou <i class="btn-b"></i><br>e <i class="btn-a"></i> + LS ↓'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Elastico chop left', 'pt': 'Elástico p/ esquerda'}, 'command': 'RS toque ↓ toque ←'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Elastico chop right', 'pt': 'Elástico p/ direita'}, 'command': 'RS toque ↓ toque →'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Laces flick up', 'pt': 'Toque de peito de pé'}, 'command': 'durante embaixadinha,<br><i class="btn-lt"></i> + segure <i class="btn-rb"></i>'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Sombrero flick backwards', 'pt': 'Chapéu p/ trás'}, 'command': 'durante embaixadinha,<br>LS segure ↓'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Sombrero flick left', 'pt': 'Chapéu p/ esquerda'}, 'command': 'durante embaixadinha,<br>LS segure ←'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Sombrero flick right', 'pt': 'Chapéu p/ direita'}, 'command': 'durante embaixadinha,<br>LS segure →'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Around the world', 'pt': 'Ao redor do mundo'}, 'command': 'durante embaixadinha,<br>RS ↻ ou RS ↺'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'In air elastico', 'pt': 'Elástico no ar'}, 'command': 'durante embaixadinha,<br>RS toque → toque ←'})
- skills.push({'new': 1, 'stars': 5, 'name': {'en': 'Reverse in air elastico', 'pt': 'Elástico no ar invertido'}, 'command': 'durante embaixadinha,<br>RS toque ← toque →'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Flick up for a volley', 'pt': 'Toque p/ cima p/ voleio'}, 'command': 'durante embaixadinha,<br>LS segure ↑'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'Chest flick', 'pt': 'Toque de peito'}, 'command': 'durante embaixadinha,<br>LS segure ↑ aperte LS aperte RS 3x'})
- skills.push({'new': 0, 'stars': 5, 'name': {'en': 'T. around the world', 'pt': 'Volta ao mundo'}, 'command': 'durante embaixadinha,<br>RS ↻ e RS toque ↑'})
