- var skills = []
- skills.push({'new': 0, 'stars': 1, 'nameEn': 'Ball Juggle', 'namePt': 'Embaixadinhas', 'command': 'parado,<br>segure <i class="btn-lt"><\/i> + toque <i class="btn-rb"><\/i>'})
- skills.push({'new': 1, 'stars': 1, 'nameEn': 'Foot fake', 'namePt': 'Fingir toque', 'command': 'parado,<br>segure <i class="btn-lb"><\/i>'})
- skills.push({'new': 0, 'stars': 2, 'nameEn': 'Body feint right', 'namePt': 'Finta de corpo p/ direita', 'command': 'RS toque →'})
- skills.push({'new': 0, 'stars': 2, 'nameEn': 'Body feint left', 'namePt': 'Finta de corpo p/ esquerda', 'command': 'RS toque ←'})
- skills.push({'new': 0, 'stars': 2, 'nameEn': 'Stepover right', 'namePt': 'Pedalada p/ direita', 'command': 'RS ↑ ↗ →'})
- skills.push({'new': 0, 'stars': 2, 'nameEn': 'Stepover left', 'namePt': 'Pedalada p/ esquerda', 'command': 'RS ↑ ↖ ←'})
- skills.push({'new': 0, 'stars': 2, 'nameEn': 'Reverse stepover right', 'namePt': 'Pedalada invertida p/ direita', 'command': 'RS → ↗ ↑'})
- skills.push({'new': 0, 'stars': 2, 'nameEn': 'Reverse stepover left', 'namePt': 'Pedalada invertida p/ esquerda', 'command': 'RS ← ↖ ↑'})
- skills.push({'new': 0, 'stars': 2, 'nameEn': 'Ball roll left', 'namePt': 'Rolada p/ esquerda', 'command': 'RS segure ←'})
- skills.push({'new': 0, 'stars': 2, 'nameEn': 'Ball roll right', 'namePt': 'Rolada p/ direita', 'command': 'RS segure →'})
- skills.push({'new': 0, 'stars': 2, 'nameEn': 'Drag back', 'namePt': 'Puxada de bola', 'command': 'parado,<br><i class="btn-rb"></i> + LS toque ↓'})
- skills.push({'new': 0, 'stars': 3, 'nameEn': 'Heel flick', 'namePt': 'Toque de calcanhar', 'command': 'RS toque ↑ ↓'})
- skills.push({'new': 0, 'stars': 3, 'nameEn': 'Flick up', 'namePt': 'Toque para cima', 'command': 'RS toque ↑ ↑ ↑'})
- skills.push({'new': 0, 'stars': 3, 'nameEn': 'Roulette right', 'namePt': 'Giro p/ direita', 'command': 'RS ↓ ↙ ← ↖ ↑ ↗ →'})
- skills.push({'new': 0, 'stars': 3, 'nameEn': 'Roulette left', 'namePt': 'Giro p/ esquerda', 'command': 'RS ↓ ↘ → ↗ ↑ ↖ ←'})
- skills.push({'new': 0, 'stars': 3, 'nameEn': 'Fake left & go right', 'namePt': 'Fingir p/ esquerda e sair p/ direita', 'command': 'RS ← ↙ ↓ ↘ →'})
- skills.push({'new': 0, 'stars': 3, 'nameEn': 'Fake right & go left', 'namePt': 'Fingir p/ direita e sair p/ esquerda', 'command': 'RS → ↘ ↓ ↙ ←'})
- skills.push({'new': 0, 'stars': 4, 'nameEn': 'Ball hop', 'namePt': 'Quique da bola', 'command': 'parado,<br>toque RS'})
- skills.push({'new': 0, 'stars': 4, 'nameEn': 'Heel to heel flick', 'namePt': 'Drible com calcanhares', 'command': 'RS toque ↑ ↓'})
- skills.push({'new': 0, 'stars': 4, 'nameEn': 'Simple rainbow', 'namePt': 'Carretilha simples', 'command': 'RS toque ↓ ↑ ↑'})
- skills.push({'new': 0, 'stars': 4, 'nameEn': 'Advanced rainbow', 'namePt': 'Carretilha avançada', 'command': 'RS toque ↓ segure ↑ toque ↑'})
- skills.push({'new': 0, 'stars': 4, 'nameEn': 'Feint left & exit right', 'namePt': 'Fintar p/ esquerda e sair p/ direita', 'command': 'RS ← ↙ ↓ ↘ →'})
- skills.push({'new': 0, 'stars': 4, 'nameEn': 'Feint right & exit left', 'namePt': 'Fintar p/ direita e sair p/ esquerda', 'command': 'RS → ↘ ↓ ↙ ←'})
- skills.push({'new': 2, 'stars': 4, 'nameEn': 'Spin left', 'namePt': 'Giro p/ esquerda', 'command': 'RS ↙ ↙'})
- skills.push({'new': 2, 'stars': 4, 'nameEn': 'Spin right', 'namePt': 'Giro p/ direita', 'command': 'RS ↘ ↘'})
- skills.push({'new': 2, 'stars': 4, 'nameEn': 'Stop and turn left', 'namePt': 'Parada com giro p/ esquerda', 'command': 'correndo,<br>RS toque ↑ toque ←'})
- skills.push({'new': 2, 'stars': 4, 'nameEn': 'Stop and turn right', 'namePt': 'Parada com giro p/ direita', 'command': 'correndo,<br>RS toque ↑ toque →'})
- skills.push({'new': 2, 'stars': 4, 'nameEn': 'Ball roll cut right', 'namePt': 'Rolada com corte p/ direita', 'command': 'segure RS ← segure LS →'})
- skills.push({'new': 2, 'stars': 4, 'nameEn': 'Ball roll cut left', 'namePt': 'Rolada com corte p/ esquerda', 'command': 'segure RS → segure LS ←'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Elastico', 'namePt': 'Elástico', 'command': 'RS → ↘ ↓ ↙ ←'})
- skills.push({'new': 1, 'stars': 5, 'nameEn': 'Reverse elastico', 'namePt': 'Elástico invertido', 'command': 'RS ← ↙ ↓ ↘ →'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Quick ball rolls', 'namePt': 'Roladas rápidas', 'command': 'segure RS ↓'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Hocus pocus', 'namePt': 'Abracadabra', 'command': 'RS ↓ ↙ ← ↙ ↓ ↘ →'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Triple elastico', 'namePt': 'Elástico triplo', 'command': 'RS ↓ ↘ → ↘ ↓ ↙ ←'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Ball roll and flick left', 'namePt': 'Rolada com toque p/ esquerda', 'command': 'correndo,<br>RS segure → toque ↑'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Ball roll and flick right', 'namePt': 'Rolada com toque p/ direita', 'command': 'correndo,<br>RS segure ← toque ↑'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Sombrero flick', 'namePt': 'Chapéu', 'command': 'parado,<br>RS toque ↑ ↑ ↓'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Turn & spin left', 'namePt': 'Volta e giro p/ esquerda', 'command': 'RS toque ↑ toque ←'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Turn & spin right', 'namePt': 'Volta e giro p/ direita', 'command': 'RS toque ↑ toque →'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Ball roll fake left', 'namePt': 'Fingir rolada p/ esquerda', 'command': 'parado,<br>RS segure ← e RS toque →'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Ball roll fake right', 'namePt': 'Fingir rolada p/ direita', 'command': 'parado,<br>RS segure → e RS toque ←'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Rabona fake', 'namePt': 'Fingir toque de letra', 'command': 'andando,<br>segure <i class="btn-lt"></i> + <i class="btn-x"></i> ou <i class="btn-b"></i><br>e <i class="btn-a"></i> + LS ↓'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Elastico chop left', 'namePt': 'Elástico p/ esquerda', 'command': 'RS toque ↓ toque ←'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Elastico chop right', 'namePt': 'Elástico p/ direita', 'command': 'RS toque ↓ toque →'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Laces flick up', 'namePt': 'Toque de peito de pé', 'command': 'durante embaixadinha,<br><i class="btn-lt"></i> + segure <i class="btn-rb"></i>'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Sombrero flick backwards', 'namePt': 'Chapéu p/ trás', 'command': 'durante embaixadinha,<br>LS segure ↓'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Sombrero flick left', 'namePt': 'Chapéu p/ esquerda', 'command': 'durante embaixadinha,<br>LS segure ←'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Sombrero flick right', 'namePt': 'Chapéu p/ direita', 'command': 'durante embaixadinha,<br>LS segure →'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Around the world', 'namePt': 'Ao redor do mundo', 'command': 'durante embaixadinha,<br>RS ↻ ou RS ↺'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'In air elastico', 'namePt': 'Elástico no ar', 'command': 'durante embaixadinha,<br>RS toque → toque ←'})
- skills.push({'new': 1, 'stars': 5, 'nameEn': 'Reverse in air elastico', 'namePt': 'Elástico no ar invertido', 'command': 'durante embaixadinha,<br>RS toque ← toque →'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Flick up for a volley', 'namePt': 'Toque p/ cima p/ voleio', 'command': 'durante embaixadinha,<br>LS segure ↑'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'Chest flick', 'namePt': 'Toque de peito', 'command': 'durante embaixadinha,<br>LS segure ↑ aperte LS aperte RS 3x'})
- skills.push({'new': 0, 'stars': 5, 'nameEn': 'T. around the world', 'namePt': 'Volta ao mundo', 'command': 'durante embaixadinha,<br>RS ↻ e RS toque ↑'})
