.copy.row
	.col-xs-12!= '&copy; 2012-' + year + ' Sávio Mendes, <a target="_blank" href="http://saviomd.com/">saviomd.com</a>'
script(defer src='/lib/js/jquery.min.js')
script(defer src='js/driblesfifa.min.js')
script.
	// mouseflow
	if (location.search.indexOf('a=0') === -1){
		var _mfq = _mfq || [];
		(function () {
			var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
			mf.src = "//cdn.mouseflow.com/projects/420e55c5-735c-4417-a87b-1d0f60f73ff6.js";
			document.getElementsByTagName("head")[0].appendChild(mf);
		})();
	}
