block pageData
	- var page = {}
	- page.path = ''
	- page.title = site.name
	- page.description = site.description
	- page.keywords = 'xbox,xbox 360,xbox one,playstation,playstation 3,ps3,playstation 4,ps4,fifa,futebol,soccer,dribles,comemorações'

extends /templates/default.jade

block content

	include /includes/home.jade
	include /includes/basicControls.jade
	include /includes/skillMoves.jade
	include /includes/celebrations.jade
	//- include /includes/tutorials.jade
	include /includes/about.jade
