block pageData
	- var page = {}
	- page.path = ''
	- page.title = 'Dribles FIFA'
	- page.description = 'Guia de bolso (e smartphone) p/ parte mais legal do FIFA: humilhar os adversários com dribles e comemorar os golaços. Atualizado p/ FIFA15, reorganizado e agora com busca.'
	- page.keywords = 'xbox,xbox 360,xbox one,playstation,playstation 3,ps3, playstation 4, ps4,fifa,futebol,soccer,dribles,comemorações'

extends /templates/default.jade

block content

	include /includes/home.jade
	include /includes/skills.jade
	include /includes/celebrations.jade
	include /includes/about.jade
