-
	var celebrations = {}
	celebrations.types = [
		'Corrida',
		'Finalização',
		'Pro',
		'EASFC'
	]
	celebrations.movements = [
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'One arm raised',
				'pt': 'Um braço levantado'
			},
			'command': 'segure <i class="btn-controller btn-controller--b"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Thumb suck',
				'pt': 'Chupar dedão'
			},
			'command': 'segure <i class="btn-controller btn-controller--x"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Ear twist',
				'pt': 'Parafusar orelha'
			},
			'command': 'segure <i class="btn-controller btn-controller--y"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Finger points',
				'pt': 'Apontar com os dedos'
			},
			'command': 'toque <i class="btn-controller btn-controller--b"></i> e segure <i class="btn-controller btn-controller--b"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Arms out',
				'pt': 'Braços abertos'
			},
			'command': 'toque <i class="btn-controller btn-controller--x"></i> e segure <i class="btn-controller btn-controller--x"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Wrist flick',
				'pt': 'Balançar a mão'
			},
			'command': 'toque <i class="btn-controller btn-controller--y"></i> e segure <i class="btn-controller btn-controller--y"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Aeroplane',
				'pt': 'Avião'
			},
			'command': 'segure RS'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Point to sky',
				'pt': 'Apontar para o céu'
			},
			'command': 'segure RS ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Shhhhhh!',
				'pt': 'Quietinhos!'
			},
			'command': 'segure RS →'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Telephone',
				'pt': 'Telefone'
			},
			'command': 'segure RS ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Can you hear me?',
				'pt': 'Consegue me ouvir?'
			},
			'command': 'segure RS ←'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Hands out',
				'pt': 'Mãos estendidas'
			},
			'command': 'toque RS → e segure RS ←'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Come on!',
				'pt': 'Vamos!'
			},
			'command': 'toque RS ← e segure RS →'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Blow kisses',
				'pt': 'Beijinhos'
			},
			'command': 'toque RS ↓ e segure RS ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Double arm swing',
				'pt': 'Girar os dois braços'
			},
			'command': 'toque RS ↑ e segure RS ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Flying bird',
				'pt': 'Pássaro voando'
			},
			'command': 'toque RS → e segure RS →'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Hand on head',
				'pt': 'Mão na cabeça'
			},
			'command': 'toque RS ← e segure RS ←'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Heart symbol',
				'pt': 'Coração com as mãos'
			},
			'command': 'toque RS ↓ e segure RS ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Arms pointing up',
				'pt': 'Braços para cima'
			},
			'command': 'toque RS ↑ e segure RS ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[0],
			'name': {
				'en': 'Windmill',
				'pt': 'Moinho de vento'
			},
			'command': 'RS ↻'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Point to the sky',
				'pt': 'Apontar para o céu'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> aperte <i class="btn-controller btn-controller--b"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Show respect',
				'pt': 'Respeito é bom'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> toque 2x <i class="btn-controller btn-controller--b"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Spanish dance',
				'pt': 'Dança espanhola'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> toque RS ↑ ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Belly flop',
				'pt': 'Mergulho de barriga'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> aperte <i class="btn-controller btn-controller--x"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Riding the wave',
				'pt': 'Surfando a onda'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> aperte <i class="btn-controller btn-controller--y"></i>'
		},
		{
			'new': 1,
			'type': celebrations.types[1],
			'name': {
				'en': 'Triangle',
				'pt': 'Triângulo'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> toque RS ↓ ↓'
		},
		{
			'new': 1,
			'type': celebrations.types[1],
			'name': {
				'en': 'Big man',
				'pt': 'Em cima e embaixo'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> segure RS →'
		},
		{
			'new': 1,
			'type': celebrations.types[1],
			'name': {
				'en': 'Baby girl',
				'pt': 'Menininha'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> segure RS ←'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Chest slide',
				'pt': 'Deslizar com o peito'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> toque RS ↓ ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Point up',
				'pt': 'Apontar p/ cima'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> toque RS ← →'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Signature finishing move',
				'pt': 'Finalização com marca registrada'
			},
			'command': 'aperte <i class="btn-controller btn-controller--a"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Back flip (agile players) or Arms to crowd',
				'pt': 'Mortal p/ trás (jogador ágil) ou Para a galera'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> toque RS ↑ ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Hand spring (agile players) or Roll & punch',
				'pt': 'Cambalhota com a mão (jogador ágil) ou Rolada e soco'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> RS ↻'
		},
		{
			'new': 1,
			'type': celebrations.types[1],
			'name': {
				'en': 'Floor spin',
				'pt': 'Giro no chão'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> RS ↺'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Timber',
				'pt': 'Madeira'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> aperte <i class="btn-controller btn-controller--b"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Violinist',
				'pt': 'Violino'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> aperte <i class="btn-controller btn-controller--x"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Spanish archer',
				'pt': 'Arqueiro espanhol'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> aperte <i class="btn-controller btn-controller--y"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Hands on ears',
				'pt': 'Mãos nas orelhas'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> toque 2x <i class="btn-controller btn-controller--x"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Stomach slide',
				'pt': 'Deslizar de barriga'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> toque 2x <i class="btn-controller btn-controller--y"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Knee slide arms out',
				'pt': 'Deslizar de joelhos de braços abertos'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> segure RS ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'I can\'t hear you',
				'pt': 'Não estou escutando'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> segure RS →'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Side slide',
				'pt': 'Deslizar de lado'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> segure RS ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Brick fall',
				'pt': 'Queda inconsciente'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> segure RS ←'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Knee slide',
				'pt': 'Deslizar de joelhos'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> toque RS ↑ ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Samba dance',
				'pt': 'Sambadinha'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> toque RS ← →'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Who am I',
				'pt': 'Quem sou eu?'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> toque RS → ←'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Knee slide to sit',
				'pt': 'Deslizar de joelho e indiozinho'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> toque RS ↓ ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Knee slide fail',
				'pt': 'Falha ao deslizar de joelhos'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> toque RS ← ←'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Flip (agile player) or Cartwheel',
				'pt': 'Mortal (jogador ágil) ou estrela'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> RS ↻'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Twist flip (agile player) or Cartwheel roll',
				'pt': 'Mortal com giro (jogador ágil) ou estrela e rolar'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> RS ↺'
		},
		{
			'new': 1,
			'type': celebrations.types[1],
			'name': {
				'en': 'Rugby',
				'pt': 'Rúgbi'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> aperte RS'
		},
		{
			'new': 1,
			'type': celebrations.types[1],
			'name': {
				'en': 'Elbow',
				'pt': 'Dab dance'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque 2x <i class="btn-controller btn-controller--y"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Kiss the pitch',
				'pt': 'Beijo no gramado'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque 2x <i class="btn-controller btn-controller--b"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'The salute',
				'pt': 'Saudação'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> aperte <i class="btn-controller btn-controller--y"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Chest stump',
				'pt': 'Bater no peito'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque RS ↓ ↓'
		},
		{
			'new': 1,
			'type': celebrations.types[1],
			'name': {
				'en': 'Push it down',
				'pt': 'Empurre p/ baixo'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque 2x <i class="btn-controller btn-controller--b"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[1],
			'name': {
				'en': 'Glamour slide',
				'pt': 'Deslize glamouroso'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque RS ← ←'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Many bows',
				'pt': 'Muitas reverências'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> segure RS ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Pardon',
				'pt': 'Como é que é?'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> segure RS →'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Fall to knees & beg',
				'pt': 'De joelhos e implorando'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> segure RS ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Backflips',
				'pt': 'Mortal p/ trás'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque 2x <i class="btn-controller btn-controller--x"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Slide on back',
				'pt': 'Deslizar de costas'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque 2x <i class="btn-controller btn-controller--x"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Cockroach',
				'pt': 'Barata'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> aperte RS'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'River dance',
				'pt': 'Dança irlandesa'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque RS ↑ ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Break dance',
				'pt': 'Break dance'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque RS → →'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Praise on knees',
				'pt': 'Reverência de joelhos'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> segure RS ←'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Backwards worm',
				'pt': 'Rastejar p/ trás'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> RS ↺'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Uncontrolled backflip',
				'pt': 'Mortal p/ trás descontrolado'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> RS ↻'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Handstand',
				'pt': 'Bananeira'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> RS ↺'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Spin & fall',
				'pt': 'Girar e cair'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque RS ↑ ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Rowing on knees',
				'pt': 'Remando de joelhos'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque RS ← ←'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Seated rowing',
				'pt': 'Remando sentado'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque RS → →'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Knee walk',
				'pt': 'Andar de joelhos'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> aperte <i class="btn-controller btn-controller--x"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Cradle swing',
				'pt': 'Balançar bebê'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> aperte <i class="btn-controller btn-controller--y"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Baby',
				'pt': 'Ninar bebê'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque 2x <i class="btn-controller btn-controller--y"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Flying dive',
				'pt': 'Salto voador'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> segure RS ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Karate kicks',
				'pt': 'Taekwondo'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> segure RS →'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Jump kicks',
				'pt': 'Chutes no ar'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> segure RS ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Ice skating',
				'pt': 'Patinação no gelo'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque RS ↓ ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Golf swing',
				'pt': 'Tacada de golfe'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque RS ← →'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Dance 1',
				'pt': 'Dança 1'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque RS ↓ ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Dance 2',
				'pt': 'Dança 2'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque RS ↑ ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Dance 3',
				'pt': 'Dança 3'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque RS ← →'
		},
		{
			'new': 0,
			'type': celebrations.types[2],
			'name': {
				'en': 'Dance 4',
				'pt': 'Dança 4'
			},
			'command': 'segure <i class="btn-controller btn-controller--rt"></i> toque RS → ←'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'KO',
				'pt': 'Nocaute'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> toque 2x <i class="btn-controller btn-controller--x"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Right here right now',
				'pt': 'Aqui e agora'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> aperte <i class="btn-controller btn-controller--b"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Hand bite',
				'pt': 'Mordida na mão'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> toque RS ↓ ↑'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Stand tall',
				'pt': 'Parada'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> segure RS ←'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Kiss the wrist',
				'pt': 'Beijo no pulso'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> toque 2x <i class="btn-controller btn-controller--b"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Old man',
				'pt': 'Velhote'
			},
			'command': 'segure <i class="btn-controller btn-controller--lt"></i> aperte RS'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Calm down',
				'pt': 'Calma aí'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> toque 2x <i class="btn-controller btn-controller--y"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'The Bear',
				'pt': 'Urso'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> segure RS ↑'
		},
		{
			'new': 1,
			'type': celebrations.types[3],
			'name': {
				'en': 'Motorbike',
				'pt': 'Moto'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> segure RS ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Bailando robot',
				'pt': 'Dança do robô'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> toque RS ↑ ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Muevelo',
				'pt': 'Muévelo'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> toque RS → ←'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Patty cake',
				'pt': 'Adoleta'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> toque RS → →'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Muscle flex',
				'pt': 'Musculação'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque RS ↑ ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Push ups',
				'pt': 'Flexões'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque RS → ←'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'The worm',
				'pt': 'Verme'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> RS ↻'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Dance',
				'pt': 'Dança'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> toque RS ↓ ↓'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Prancing bird',
				'pt': 'Pássaro saltador'
			},
			'command': 'segure <i class="btn-controller btn-controller--rb"></i> aperte <i class="btn-controller btn-controller--x"></i>'
		},
		{
			'new': 0,
			'type': celebrations.types[3],
			'name': {
				'en': 'Gallop dance',
				'pt': 'Dança do galope'
			},
			'command': 'segure <i class="btn-controller btn-controller--lb"></i> aperte RS'
		}
	]
