-
	var commandGuide = {}
	commandGuide.movements = [
		{
			name: 'Comandos de drible assumem o jogador se movendo para cima da tela'
		},
		{
			name: 'Comemorações Pro e EASFC precisam ser desbloqueadas (evoluindo seu jogador Pro e comprando na EASFC Catalogue) para serem usadas'
		},
		{
			name: 'Comemorações marcadas como "agile players / jogador ágil" são executadas apenas pelos jogadores mais habilidosos'
		},
		{
			name: 'LS',
			command: 'Left stick, alavanca esquerda'
		},
		{
			name: 'RS',
			command: 'Right stick, alavanca direita'
		},
		{
			name: 'LS ↑ / → / ↓ / ← / ...',
			command: 'Direção usando a alavanca esquerda'
		},
		{
			name: 'RS ↑ / → / ↓ / ← / ...',
			command: 'Direção usando a alavanca direita'
		},
		{
			name: 'DP ↑ / → / ↓ / ← / ...',
			command: 'Direção usando o d-pad (direcional digital)'
		},
		{
			name: '↻',
			command: 'Girar alavanca no sentido horário (começando de baixo)'
		},
		{
			name: '↺',
			command: 'Girar alavanca no sentido anti-horário (começando de baixo)'
		},
		{
			name: '<i class="btn-controller btn-controller--lb"></i>',
			command: 'Botão superior esquerdo'
		},
		{
			name: '<i class="btn-controller btn-controller--rb"></i>',
			command: 'Botão superior direito'
		},
		{
			name: '<i class="btn-controller btn-controller--lt"></i>',
			command: 'Botão gatilho esquerdo'
		},
		{
			name: '<i class="btn-controller btn-controller--rt"></i>',
			command: 'Botão gatilho direito'
		}
	]
