-
	navLinks = [
		{
			id: 'basic-controls',
			name: 'Controles básicos'
		},
		{
			id: 'skill-moves',
			name: 'Dribles'
		},
		{
			id: 'celebrations',
			name: 'Comemorações'
		},
		{
			id: 'tutorials',
			name: 'Tutoriais',
			cssClass: 'js-link-tutorials'
		},
		{
			id: 'about',
			name: 'Sobre'
		}
	]
