-
	var shareLinks = [
		{
			id: 'facebook',
			initial: 'f',
			name: 'Facebook',
			url: 'https://www.facebook.com/sharer/sharer.php?u=http://saviomd.com/driblesfifa/'
		},
		{
			id: 'twitter',
			initial: 't',
			name: 'twitter',
			url: 'https://twitter.com/intent/tweet?url=http://saviomd.com/driblesfifa/&text=Dribles FIFA: Guia de bolso (e smartphone) p/ parte mais legal do FIFA'
		}
	]
