-
	var site = {}
	site.lang = 'pt-BR'
	site.name = 'Dribles FIFA'
	site.description = 'Guia de bolso (e smartphone) p/ parte mais legal do FIFA: humilhar os adversários com dribles e comemorar os golaços'
	site.url = 'https://saviomd.com/driblesfifa/'
	site.themeColor = '#000'
	site.twitter = 'saviomd'
	site.prod = true
	site.googleAnalyticsUA = 'UA-22412489-' + (site.prod ? '1' : '2')
	site.minify = true
	site.noindex = false

	var date = new Date()
	var year = date.getFullYear()
