body {
	background: $color-secondary;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	width: 100%;
}

body > .container {
	margin-top: 54px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.logo-fifa {
	color: #fff;
	font-weight: bold;
}

.logo-fifa__year {
	color: #fecf00;
}

.list-group--home {
	font-size: 18px;
}

.videogames {
	margin: 0 0 20px;
	width: 100%;
}

.videogames .btn {
	width: 50%;
}

.share {
	border-top: 1px solid $color-tertiary;
}

.card__name {
	font-size: 18px;
	font-weight: normal;
}

.card__name-pt {
	font-size: 14px;
	font-style: italic;
}

.card__command {
	text-align: right;
}

.copy {
	border-top: 1px solid $color-tertiary;
	font-size: 12px;
	margin: 20px 0 0;
	padding: 5px 0;
	text-align: center;
}

@keyframes rotate {

	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}

}

.loading:after {
	animation: rotate 1s infinite linear;
	border: 6px solid $color-default;
	border-radius: 36px;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 36px;
	margin: 0 auto;
	width: 36px;
}
