body {
	background: #fff;
	font-size: 16px;
	line-height: 1.5;
	margin-top: 54px;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	width: 100%;
}

.logo-fifa {
	color: #fff;
	font-weight: bold;
}

.logo-fifa__year {
	color: #fecf00;
}

// 544, 768, 992, 1200, 1920
.home {
	background: #8b897b url("../img/bg-fifa-xs.jpg") center top no-repeat;
	height: 500px;
}

@each $bp in (sm, md, lg, xl) {

	@include media-breakpoint-up($bp) {

		.home {
			background-image: url("../img/bg-fifa-#{$bp}.jpg");
		}

	}

}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -2276px 0; }
}

.home--flamengo {
	animation: animatedBackground 60s linear infinite;
	background: #82262a url("../img/bg-flamengo.jpg") 0 0 repeat-x;
}

.home__content {
	opacity: 0.8;
}

.list-group--home {
	font-size: 18px;
}

.videogames {
	width: 100%;
}

.videogames .btn {
	width: 50%;
}

.footer {
	border-top: 1px solid #333;
	font-size: 12px;
}

@keyframes rotate {

	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}

}

.loading:after {
	animation: rotate 1s infinite linear;
	border: 6px solid $color-default;
	border-radius: 36px;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 36px;
	margin: 0 auto;
	width: 36px;
}
