include /data/commandGuide.jade
include /mixins/movements.jade

.d-none.py-3.js-page#about
	.container.animated.fadeInRight
		h1= 'Sobre'
		p= 'Guia de bolso (e smartphone) p/ parte mais legal do FIFA: humilhar os adversários com dribles e comemorar os golaços.'
		+movements(commandGuide.movements)
