include /data/basicControls.jade
include /mixins/movements.jade
include /mixins/movementsFilter.jade

.hidden-xs-up.p-y-1.js-page#basic-controls
	.container.animated.fadeInRight
		.clearfix.m-b-1
			h1.pull-xs-left= 'Controles básicos'
			+movementsFilter(basicControls, 'basic-controls')
		.js-list-basic-controls
			+movements(basicControls.movements)
