include /data/celebrations.jade
include /mixins/movements.jade
include /mixins/movementsFilter.jade

.hidden-xs-up.py-1.js-page#celebrations
	.container.animated.fadeInRight
		.clearfix.mb-1
			h1.float-xs-left= 'Comemorações'
			+movementsFilter(celebrations, 'celebrations')
		.js-list-celebrations
			+movements(celebrations.movements)
