.copy.row
	.col-xs-12!= '&copy; 2012-' + year + ' <a href="http://saviomd.com/" target="_blank" ga-on="click" ga-event-category="' + site.name + '" ga-event-action="Rodapé" ga-event-label="Link saviomd.com">Sávio Mendes</a>'
script(defer, src='js/vendor' + (site.dev ? '' : '.min') + '.js')
script(defer, src='js/driblesfifa' + (site.dev ? '' : '.min') + '.js')
script.
	// mouseflow
	if (location.search.indexOf('a=0') === -1) {
		var _mfq = _mfq || [];
		(function () {
			var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
			mf.src = "//cdn.mouseflow.com/projects/420e55c5-735c-4417-a87b-1d0f60f73ff6.js";
			document.getElementsByTagName("head")[0].appendChild(mf);
		})();
	}
