include /data/shareLinks.jade

.footer.p-y-1
	.container
		.text-xs-right
			h6.d-inline= 'Compartilhe:'
			each shareLink in shareLinks
				a.btn.btn-sm.m-l-1.js-link-share(class='btn--' + shareLink.id, href=shareLink.url, target='_blank', title=shareLink.name, ga-on='click', ga-event-category=site.name, ga-event-action='Compartilhe', ga-event-label=shareLink.name)= shareLink.initial
		.m-t-1
			!= '&copy; 2012-' + year + ' '
			a(href='http://saviomd.com/', target='_blank', ga-on='click' ga-event-category=site.name, ga-event-action='Rodapé', ga-event-label='Link saviomd.com')
				img(alt='saviomd.com', src='http://saviomd.com/img/favicon.png', height='21', width='21')
				= ' Sávio Mendes'
script(defer, src='js/vendor' + (site.minify ? '.min' : '') + '.js')
script(defer, src='js/driblesfifa' + (site.minify ? '.min' : '') + '.js')
script.
	// mouseflow
	if (location.search.indexOf('a=0') === -1) {
		var _mfq = _mfq || [];
		(function () {
			var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
			mf.src = "//cdn.mouseflow.com/projects/420e55c5-735c-4417-a87b-1d0f60f73ff6.js";
			document.getElementsByTagName("head")[0].appendChild(mf);
		})();
	}
