.navbar.navbar-light.bg-fade.navbar-fixed-top.animated.fadeInDown
	.container
		a.navbar-brand(href='#home', data-event-category=site.name, data-event-action='Navegação', data-event-label='home')
			= 'Dribles '
			span.logo-fifa
				= 'FIFA'
				span.logo-fifa__year= '16'
