.navbar.navbar-inverse.bg-inverse.fixed-top
	.container
		a.navbar-brand.js-page-trigger(href='#home', ga-on='click', ga-event-category=site.name, ga-event-action='Navegação', ga-event-label='home')
			= 'Dribles '
			span.logo-fifa
				= 'FIFA'
				span.logo-fifa__year= '17'
