include /data/skillMoves.jade
include /mixins/movements.jade
include /mixins/movementsFilter.jade

.hidden-xs-up.py-3.js-page#skill-moves
	.container.animated.fadeInRight
		.clearfix.mb-3
			h1.float-left= 'Dribles'
			+movementsFilter(skillMoves, 'skill-moves')
		.js-list-skill-moves
			+movements(skillMoves.movements)
